<div class="row about" style="height: 600px; color: #c5a063;">
	<div class="col-lg-6 col-lg-offset-3 text-center">
		<div class="about_en">About Hai Xia</div>
	    <div class="about_ch">
	    	<h2 class="no-background"><span class="text">公司簡介</span></h2>
	    </div>		
		<div class="about_since">成立於2004年02月17日</div>
		<div class="about_description">
			"中國海峽集團"為海峽兩岸最權威的國際旅遊服務公司。
			我們運用最新的資訊技術和數年累積的專業知識並且結合兩岸各大航空公司
			、頂級菁鑽酒店、租車聯盟，針對大陸人士赴台旅遊、交流、商務、參訪等活動，
			提供一系列客製化且最便捷的優質旅遊服務。</div>
    </div>
</div>