<div class="row">
	<div id="parallax1" class="about_manager_image">
		<div></div>
	</div>	
</div>
<div class="row" style="background: #1a1a1a; color: #c5a063;">
	<div class="col-lg-8 col-lg-offset-2 text-center about_manager_quote">
    	&ldquo; 我們要讓全世界華人都感受到台灣親切和細緻的頂級服務 &bdquo;                   
    </div>   
</div>
<div class="row" style="background: #1a1a1a; color: #c5a063; height: 300px; padding-top: 100px;">
	<div class="col-lg-4 col-lg-offset-2" style="font-size: 14px;">
	    <div>2006 - present 台灣旅行商業同業公會 大陸主委</div>  
	    <div>1999 - present 中華海峽兩岸人資科技產業交流會 副理事長</div>  
	    <div>1999 - 2004 廈航旅行社 總經理</div>                   	    
	    <div>2008 汶川救災，獲胡錦濤總書記頒發「 中華慈善獎 」</div>  
    </div>
	<div class="col-lg-4 text-right" style="font-size: 20px; margin-top: 70px;">
    董事長 許淑玲                   
    </div>      
</div>