<div class="row">
	<div id="parallax1" class="about_manager_image">
		<div></div>
	</div>	
</div>
<div class="row" style="background: #1a1a1a; color: #c5a063;">
	<div class="col-lg-8 col-lg-offset-2 text-center about_manager_quote">
		<div class="horizontal_line_1"></div>				
    	<div class="about_manager_quote_content" style="visibility: hidden">&ldquo; 我們要讓全世界華人都感受到台灣親切和細緻的頂級服務 &bdquo;</div>   
    	<div class="horizontal_line_2"></div>                
    </div>   
</div>
<div class="row about_manager_content">
	<div class="col-sm-6 col-sm-offset-1 col-lg-4 col-lg-offset-2" style="font-size: 14px; letter-spacing: 3px;">
	    <div class="about_manager_content_1" style="visibility: hidden">現任 台灣旅行商業同業公會 大陸主委</div>  
	    <div class="about_manager_content_2" style="visibility: hidden">現任 中華海峽兩岸人資產業交流會 副理事長</div>  
	    <div class="about_manager_content_3" style="visibility: hidden">1999 - 2004 廈航旅行社 總經理</div>                   	    
	    <div class="about_manager_content_4" style="visibility: hidden">2008 汶川救災，胡錦濤書記頒發"中華慈善獎"</div>  
    </div>
	<div class="col-sm-4 col-lg-4 text-right about_manager_position" style="font-size: 20px; top: 55px; visibility: hidden;">
    董事長 許淑玲                   
    </div>      
</div>