<div class="row" style="background: #1a1a1a; height: 300px; color: #c5a063" >
	<div class="col-sm-3 text-center">
		<%=image_tag 'double_diamond.png', class: "footer_diamond"%> 
    </div>
	<div class="col-sm-6 text-center">
		<%=image_tag 'marker.png'%> 
		<div>
			<span>TEL</span>
			<span>+886 2 55816666</span>
			<span>FAX</span>
			<span>+886 2 55807777</span>
		</div>
		<div>台北市民生東路三段3號10樓</div>
		<div>10F., No.3, Sec. 3, Minsheng E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.)</div>	

    </div>
	<div class="col-sm-3 text-center">
		<%=image_tag 'double_diamond.png', class: "footer_diamond"%> 
    </div>        
</div>