<div class="row" style="padding-top: 60px; padding-bottom: 60px;" >
	<div class="col-md-10 col-md-offset-1">
   	<div class="taiwan_en text-center">Taiwan</div>
	<div class="taiwan_ch text-center">
		<h2 class="no-background"><span class="text">台灣</span></h2>
	</div>	  	
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="background: #f1f1f1; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #000000; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #f1f1f1; height: 100px;">
    
    </div>        
</div>
<div class="row">
    <div class="col-sm-4" style="background: #000000; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #f1f1f1; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #000000; height: 100px;">
    
    </div>        
</div>
<div class="row">
    <div class="col-sm-4" style="background: #f1f1f1; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #000000; height: 100px;">
    
    </div>
    <div class="col-sm-4" style="background: #f1f1f1; height: 100px;">
    
    </div>        
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
    </div>
</div>
<div class="row">
   <div class="col-lg-8 col-lg-offset-2">
   </div>
</div>
