<div class="row text-center" style="height: 100vh">
	<div class="col-sm-offset-4 col-sm-4" style="height: 100%; padding: 0px;">
		<div class="top_center_container">
			<div class="top_logo_container">
				<%= image_tag 'top/large_logo.png'%>     
			</div>	
			<div class="top_slogan_container">
				<div class="top_slogan">海峽兩岸</div>   
				<div class="top_slogan">旅遊領導品牌</div>
			</div>			
			<div class="top_arrow_container page-scroll">
				<a href="#section_about"><%= image_tag 'top/arrow.png', class: 'arrow_down' %></a>
			</div>					
		</div>		
	</div>
</div>