<!-- Modal -->
<div id="myModal2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: #333333; opacity: 1">&times;</button>     
        <div style="">
        <%=image_tag 'taiwan/tw_modal_top_diamond.png', style: 'height: 160px;', class:"hidden-xs"%>
        <div class="modal-title">Training</div> 
        </div>   
      </div>             
      	<div id="carousel-example-generic_2" class="carousel-example-generic carousel slide" data-ride="carousel">
	  		<!-- Wrapper for slides -->
	  		<div class="carousel-inner">
			    <div class="item active" style="min-height: 900px; ">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">台北、宜兰地区</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-10 col-sm-offset-1">  
							<div class="modal_inner_training">				
								<ul>
									<li>
										<div class="modal_inner_training_title">台北农产运销公司</div>
										<div class="modal_inner_training_description">全台最先进的果菜批发市场，具备信息化的价格评定机制、快速的农药残留检验及精美的果菜分级包装</div>
									</li>
									<li>
										<div class="modal_inner_training_title">新北市北新有机农场</div>
										<div class="modal_inner_training_description">以独特的微生物有机肥施作</div>
									</li>
									<li>
										<div class="modal_inner_training_title">宜兰胜洋水草休闲农场</div>
										<div class="modal_inner_training_description">有机水草衍生出水草料理及水产养殖</div>
									</li>
									<li>
										<div class="modal_inner_training_title">宜兰蜂采馆</div>
										<div class="modal_inner_training_description">蜜蜂生态导览及蜂蜜深加工产品</div>
									</li>
									<li>
										<div class="modal_inner_training_title">宜兰溪和水产馆</div>
										<div class="modal_inner_training_description">台湾东海岸生鲜渔货深加工</div>
									</li>
									<li>
										<div class="modal_inner_training_title">宜兰原鸦有机米产销班</div>
										<div class="modal_inner_training_description">稻作遵古法，采生态有机方式培种</div>
									</li>
									<li>
										<div class="modal_inner_training_title">宜兰三星葱产销班</div>
										<div class="modal_inner_training_description">全台最知名美味的葱</div>
									</li>
									<li>	
										<div class="modal_inner_training_title">宜兰金车兰花园</div>
										<div class="modal_inner_training_description">科技栽培蝴蝶兰种苗</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">福昌种猪场</div>
										<div class="modal_inner_training_description">世界名列前茅种猪培育场</div>
									</li>
									<li>
										<div class="modal_inner_training_title">源顺有机肥工厂</div>
										<div class="modal_inner_training_description">高科技微生物有机肥产制</div>
									</li>	
	  							</ul>
							</div>
			        	</div>  			        		        	        	       	        	
			        </div>
			    </div>
				<div class="item" style="min-height: 900px; ">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">桃、竹、苗地区</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-10 col-sm-offset-1">  
							<div class="modal_inner_training">				
								<ul>
									<li>
										<div class="modal_inner_training_title">桃园红柿子植物工厂</div>
										<div class="modal_inner_training_description">室内高科计有机蔬菜栽种</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园福田有机农场</div>
										<div class="modal_inner_training_description">世界驰名的有机碗豆苗栽种</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园成祥养猪场</div>
										<div class="modal_inner_training_description">采节能环保养殖方式</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园华丰有机农场</div>
										<div class="modal_inner_training_description">网式有机蔬菜种植</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园肉品市场</div>
										<div class="modal_inner_training_description">信息化肉猪拍卖</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园莲荷园休闲农场</div>
										<div class="modal_inner_training_description">风力发电、生态保育教室</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园八德蔬菜产销班</div>
										<div class="modal_inner_training_description">吉园圃认证有机蔬菜种植</div>
									</li>
									<li>	
										<div class="modal_inner_training_title">桃园水土保持教室</div>
										<div class="modal_inner_training_description">水土生态保护示范场</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">桃园绎品香生态农场</div>
										<div class="modal_inner_training_description">林相生态教室</div>
									</li>
									<li>
										<div class="modal_inner_training_title">桃园天御休闲农场</div>
										<div class="modal_inner_training_description">花卉、盆栽、景观设计农场</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">桃园高平有机果园</div>
										<div class="modal_inner_training_description">独特有机无花果种植</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">新竹蕃茄联合国</div>
										<div class="modal_inner_training_description">栽培世界百种蕃茄品种</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">新竹东方美人茶产销班</div>
										<div class="modal_inner_training_description">无毒栽培，获英女王赐颁「东方美人茶」名衔</div>
									</li>																												
	  							</ul>
							</div>
			        	</div>  			        		        	        	       	        	
			        </div>
			    </div>
				<div class="item" style="min-height: 900px; ">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">桃、竹、苗地区</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-10 col-sm-offset-1">  
							<div class="modal_inner_training">				
								<ul>
									<li>
										<div class="modal_inner_training_title">新竹新埔客家茶花产销班</div>
										<div class="modal_inner_training_description">精致园艺、景观设计</div>
									</li>
									<li>
										<div class="modal_inner_training_title">新竹关西瑞发养蜂场</div>
										<div class="modal_inner_training_description">评鉴为顶级蜂蜜、生鲜蜂王乳、天然茶花花粉</div>
									</li>
									<li>
										<div class="modal_inner_training_title">新竹竹南四方牧场</div>
										<div class="modal_inner_training_description">牛乳制程DIY教学</div>
									</li>
									<li>
										<div class="modal_inner_training_title">苗栗大湖草莓酒庄</div>
										<div class="modal_inner_training_description">草莓深加工及衍生性产品</div>
									</li>
									<li>
										<div class="modal_inner_training_title">苗栗公馆柿果共同加工厂</div>
										<div class="modal_inner_training_description">全台首选柿饼及独有柿霜饼</div>
									</li>
									<li>
										<div class="modal_inner_training_title">苗栗卓兰水果产销班</div>
										<div class="modal_inner_training_description">高经济水梨、葡萄、柑橘、杨桃</div>
									</li>
									<li>
										<div class="modal_inner_training_title">苗栗南庄谆农会鳟鱼产销班</div>
										<div class="modal_inner_training_description">高海拔鳟鱼养殖</div>
									</li>
									<li>	
										<div class="modal_inner_training_title">苗栗南庄农会共同经营加工厂</div>
										<div class="modal_inner_training_description">客家特色蔬果腌制</div>
									</li>	
									<li>
										<div class="modal_inner_training_title">苗栗飞牛牧场</div>
										<div class="modal_inner_training_description">农村再生计划农场</div>
									</li>
									<li>
										<div class="modal_inner_training_title">苗栗大湖蚕丝深加工厂</div>
										<div class="modal_inner_training_description">天然蚕丝生产加工</div>
									</li>	
	  							</ul>
							</div>
			        	</div>  			        		        	        	       	        	
			        </div>
			    </div>	    		    
	  		</div>
		  	<!-- Controls -->
		  	<a class="left carousel-control" href="#carousel-example-generic_2" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
		  	</a>
		  	<a class="right carousel-control" href="#carousel-example-generic_2" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
		  	</a>
		</div>			
    </div>
  </div>
</div>