<div class="container" style="color: #c5a063;">
<br><br><br><br><br><br>
<div class="row">
	<div class="col-sm-offset-2 col-sm-10">
		<h1>編輯經驗</h1>
	</div>
</div>
<%= render 'form' %>
<div class="row">
	<div class="col-sm-offset-2 col-sm-10">
		<%= link_to '回經驗列表', experiences_path, class: 'btn btn-default' %>
	</div>
</div>
</div>
